*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{

	background-color: #ffffff;
}

h1, h2 , p {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align: center;
}
h1{
	margin-top: 20px;
	margin-bottom: 20px;

}

h2{
	display: inline-block;
	position: absolute;
	border:solid black 1px;
	top: 0;
	right: 0;
	width: 175px;
	height: 40px;
	color: white;
	font-size: 1.75em;
	text-transform: uppercase;
}

.beef{

background-color: red;
}

.chicken{
background-color: pink;
}

.sushi{
background-color: yellow;
}
p{
font-size: 1.25em;
}


section{
margin:3px;
border: solid black 1px;
background-color: gray;
position: relative;
min-height: 150px;
padding: 20px;
padding-top: 40px;

}
/***************************Responsive Framework *****************/
.row{
	width: 100%;
	padding: 10px;
	margin: 0;
}

/***************************Responsive Framework End*****************/

/***************************Desktop Start*****************/
@media (min-width: 992px){
.col-lg-01, .col-lg-02, .col-lg-3, .col-lg-04, .col-lg-05, .col-lg-06, .col-lg-07, .col-lg-08, .col-lg-09, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-01 {
    width: 8.33%;
  }
  .col-lg-02 {
    width: 16.66%;
  }
  .col-lg-03 {
    width: 25%;
  }
  .col-lg-04 {
    width: 33.33%;
  }
  .col-lg-05 {
    width: 41.66%;
  }
  .col-lg-06 {
    width: 50%;
  }
  .col-lg-07 {
    width: 58.33%;
  }
  .col-lg-08 {
    width: 66.66%;
  }
  .col-lg-09 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }

}/** closed desktop @media**/
/***************************Desktop End*****************/

/***************************tablet Start Design*****************/
@media (min-width: 768px) and (max-width: 991px){
.col-md-01, .col-md-02, .col-md-03, .col-md-04, .col-md-05, .col-md-06, .col-md-07, .col-md-08, .col-md-09, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-01 {
    width: 8.33%;
  }
  .col-md-02 {
    width: 16.66%;
  }
  .col-md-03 {
    width: 25%;
  }
  .col-md-04 {
    width: 33.33%;
  }
  .col-md-05 {
    width: 41.66%;
  }
  .col-md-06 {
    width: 50%;
  }
  .col-md-07 {
    width: 58.33%;
  }
  .col-md-08 {
    width: 66.66%;
  }
  .col-md-09 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

}/** closed tablet @media**/
/***************************Tablet Design End*****************/


}/** end css bracket**/
